vendor/
node_modules/
npm-debug.log

# Laravel 5 & Lumen specific
public/storage/seguridad/user/image/*.jpg
public/storage/seguridad/user/image/*.png
public/storage/seguridad/user/image/*.gif
public/storage/rrhh/funcionario/documentos/designacion/*.pdf
public/storage/rrhh/funcionario/documentos/designacion/*.PDF
public/storage/rrhh/salidas/solicitud_salida/*.pdf
public/storage/rrhh/salidas/solicitud_salida/*.PDF
public/hot
storage/*.key
.env.*.php
.env.php
.env
Homestead.yaml
Homestead.json

/.idea
/.vagrant
yarn-error.log

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/

composer.lock